<!--<p>sidebar works!</p>-->
<style>
  .header-bottom .link a:hover{
    color: #eb4d4b;
  }

  .header-bottom a:hover {
    color: #eb4d4b;
  }

  .header-bottom .ul .li a:hover {
    color: red;
  }

  .header-bottom .li a:hover {
    color: red;
  }

  .font {
    font-weight:bold;
  }

</style>

<div class="header-bottom container" >
  <div class="navbar navbar-light rounded" aria-label="First navbar example" style="background-color:  #94bed8;">
    <div class="container" >
      <a class="font" href="#" aria-valuetext="" style="text-decoration: none; text-align: center; color: #ffd11a">Danh Mục Sản Phẩm</a>
      <a class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01"
         aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
      </a>

      <div class="collapse navbar-collapse drop" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2 ul">
          <li class="nav-item dropdown li">
            <a class="nav-link dropdown-toggle link me-5 font" href="#" id="dropdown01" data-bs-toggle="dropdown"
               aria-expanded="false" style="color:  #ffd11a">Thiết bị bảo hộ y tế</a>
            <ul class="dropdown-menu link" aria-labelledby="dropdown01">
              <li><a class="dropdown-item me-5 "  href="#" >Găng tay y tế</a></li>
              <li><a class="dropdown-item me-5 " href="#" >Khẩu trang y tế</a></li>
              <li><a class="dropdown-item " href="#" >Nguyên liệu vải không dệt</a></li>
              <li><a class="dropdown-item " href="#" >Quần áo bảo hộ y tế</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown li">
            <a class="nav-link dropdown-toggle font" href="#" id="dropdown02" data-bs-toggle="dropdown"
               aria-expanded="false" style="color:  #ffd11a">Bảng thống kê chi tiết:</a>
            <ul class="dropdown-menu link" aria-labelledby="dropdown02">
              <li><a class="dropdown-item " routerLink="/financial/list">Thống kê tài chính </a></li>
              <li><a class="dropdown-item " routerLink="/supplies/list" >Thống kê vật tư </a></li>
            </ul>
          </li>

          <li class="nav-item dropdown li">
            <a class="nav-link dropdown-toggle font" href="#" id="dropdown03" data-bs-toggle="dropdown"
               aria-expanded="false" style="color:  #ffd11a">Thiết bị y tế và vật tư tiêu hao</a>
            <ul class="dropdown-menu link" aria-labelledby="dropdown03">
              <li><a class="dropdown-item " href="#">Máy tạo Oxy</a></li>
              <li><a class="dropdown-item " href="#">Giường</a></li>
            </ul>
          </li>
          <li>
            <a class="nav-link font" routerLink="/equipment/list/"
                   aria-expanded="false" style="color: #ffd11a">Danh sách vật tư</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
