


<!--<router-outlet></router-outlet>-->

<!--<app-header></app-header>-->
<!--<a routerLink="equipment/list"> list equipment</a>-->
<!--<router-outlet></router-outlet>-->
<!--<app-footer></app-footer>-->


<!--<app-header></app-header>-->
<!--<a routerLink="equipment/list-equipment">List</a>-->
<!--<a routerLink="equipment/detail">Detail</a>-->

<!--<router-outlet></router-outlet>-->
<!--<app-employee-list></app-employee-list>-->
<!--<app-footer></app-footer>-->
<!--<app-header></app-header>-->
<!--<app-sidebar></app-sidebar>-->
<!--<router-outlet></router-outlet>-->
<!--<app-footer></app-footer>-->


<div class="row">
  <app-header></app-header>
</div>
<div class="row">

  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="row">
  <app-footer></app-footer>
</div>

<!--<router-outlet></router-outlet>-->



