<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="main-content body-img">
  <div class="container-fluid">
    <h1 class="title-page">Quản lý nhân viên</h1>
    <div class="row">
      <div class="col-3 float-left">
        <button type="button" routerLink="/employee/create" class="add-button btn btn-success me-lg-1"
                style="height: 34px!important;vertical-align: middle!important;margin-bottom: 50px" ><i
          class="fa-solid fa-plus"></i> Tạo mới
        </button>

      </div>
      <div class="col-9">
        <div class="search row justify-content-around align-items-center mb-4 text-right float-right"
             style="padding-right: 100px">
          <form class="uk-search uk-search-default">
            <a uk-search-icon></a>
            <input [(ngModel)]="keyword" [ngModelOptions]="{standalone: true}" style="border-radius: 5px; width: 300px" class="uk-search-input" type="search"
                   placeholder="Nhập thông tin tìm kiếm">
          </form>
        </div>
      </div>
      <div class="tbl-header" style="width:100%">
        <table class="table px-4">
          <thead>
          <tr>
            <th>Mã nhân viên</th>
            <th>Họ và tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Tên tài khoản</th>
            <th>Chức vụ</th>
            <th>Chức năng</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of employees">
            <td>
              <div class="user-info">
                <div class="user-info__img">
                  <img src="" alt="User Img">
                </div>
                <div class="user-info__basic">
                  <p class="mb-0">{{employee.code}}</p>
                </div>
              </div>
            </td>
            <td class="uk-text-left">
              <div class="user-info">
                <div class="user-info__basic">
                  <p class="mb-0">{{employee.name}}</p>
                </div>
              </div>
            </td>
            <td class="uk-text-center" >
              <p class="mb-0">{{employee.dateOfBirth}}</p>
            </td>
            <td class="uk-text-center">
              Nam
            </td>
            <td class="uk-text-left" >
              <p class="mb-0">{{employee.address}}</p>
            </td>
            <td class="uk-text-left" >
              <p class="mb-0">{{employee.phone}}</p>
            </td>
            <td class="uk-text-left" >
              <p class="mb-0">{{employee.appUser.username}}</p>
            </td>
            <td class="uk-text-left">
              <p class="mb-0">{{employee.employeePosition.name}}</p>
            </td>
            <td>
              <div class="dropdown open">
                <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="triggerId1">
                  <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i>Sửa</a>
                  <a class="dropdown-item text-danger" href="#"><i class="fa fa-trash mr-1"></i>Xoá</a>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
<!--PAGINATION-->
      <div class="me-5 pe-4 ">
        <ul class="pagination pagination-sm justify-content-end  pagination-lg" style="margin:20px 0">
          <div *ngIf="this.page > 0 then previous"></div>
          <ng-template #previous>
            <li class="page-item">
              <button
                (click)="previousClick(1)" class="page-link" type="button">Trang trước
              </button>
            </li>
          </ng-template>
          <li class="page-item">
            <input class="page-link" type="number" value="1" min="1" [max]="totalPages"
                   placeholder="{{totalPages}}" aria-label="Username" [value]="page + 1"
                   aria-describedby="basic-addon1"
                   (change)="findPaginnation($event.target.value)">
          </li>
          <li class="page-item ">
            <span class="input-group-text page-link">{{page + 1}}/{{totalPages}}</span>
          </li>
          <div *ngIf="this.page  < this.totalPages-1 then nexts "></div>
          <ng-template #nexts>
            <li class="page-item">
              <button (click)="nextClick(1)" class="page-link" type="button">Trang sau</button>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</section>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
