<!--&lt;!&ndash;<p>equipment-list-body works!</p>&ndash;&gt;-->

<!--<div class="container-fluid" style="padding: 25px">-->
<!--  <div class="row">-->
<!--    <div class="col-3" style="text-align: left">-->
<!--      <input class="form-control" type="text" name="name"-->
<!--             placeholder="Tìm Kiếm">-->
<!--    </div>-->
<!--    <div class="col-3">-->
<!--      <button class="btn btn-primary">Tìm Kiếm</button>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<!--<div class="accomodation_area section_gap" style="background-color: #e5eaff; padding: 25px">-->
<!--  <div class="container">-->
<!--    <div class="row mb_30" >-->
<!--      <div class="col-lg-4 col-sm-6" *ngFor="let equipment of equipmentList">-->
<!--        <div class="accomodation_item text-center">-->
<!--            <img src="{{equipment.image}}" width="300px" height="250px" alt="">-->
<!--          <a href="#" style="text-decoration: none"><h4 class="sec_h4">{{equipment.name}}</h4></a>-->
<!--          <h5>{{equipment.price}} VND<small>/Sản Phẩm</small></h5>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="me-5 pe-4 ">-->
<!--  <ul class="pagination pagination-sm justify-content-end  pagination-lg" style="margin:20px 0">-->
<!--    <div *ngIf="this.page > 0 then previous"></div>-->
<!--    <ng-template #previous>-->
<!--      <li class="page-item">-->
<!--        <button-->
<!--          (click)="previousClick(1)" class="page-link" type="button">Trang trước-->
<!--        </button>-->
<!--      </li>-->
<!--    </ng-template>-->
<!--    <li class="page-item">-->
<!--      <input class="page-link" type="number" value="1" min="1" [max]="totalPages"-->
<!--             placeholder="{{totalPages}}" aria-label="Username" [value]="page + 1"-->
<!--             aria-describedby="basic-addon1"-->
<!--             (change)="findPaginnation($event.target.value)">-->
<!--    </li>-->
<!--    <li class="page-item ">-->
<!--      <span class="input-group-text page-link">{{page + 1}}/{{totalPages}}</span>-->
<!--    </li>-->
<!--    <div *ngIf="this.page  < this.totalPages-1 then nexts "></div>-->
<!--    <ng-template #nexts>-->
<!--      <li class="page-item">-->
<!--        <button (click)="nextClick(1)" class="page-link" type="button">Trang sau</button>-->
<!--      </li>-->
<!--    </ng-template>-->
<!--  </ul>-->
<!--</div>-->
