<div class="container">
  <section class="shopping-cart">
    <h1 class="heading">GIỎ HÀNG</h1>

    <table>
      <thead>
      <th>Ảnh sản phẩm</th>
      <th>Tên sản phẩm</th>
      <th>Giá sản phẩm</th>
      <th>Số lượng</th>
      <th>Tổng giá tiền</th>
      <th>Chức năng</th>
      </thead>
      <tbody>
      <tr>
        <td><img
          src="https://vcdn-giadinh.vnecdn.net/2021/10/28/455c01c474ea0561472a32ebe1bc4a-3436-3134-1635404012.jpg"
          height="100px" width="100%" alt=""/></td>
        <td>Khẩu Trang</td>
        <td>50.000VNĐ</td>
        <td>
          <label>
            <input type="number" name="update_quantity" min="1" value="2">
          </label>
        </td>
        <td>100.000VNĐ</td>
        <td><a href="#" class="delete-btn">Xóa</a></td>
      </tr>
      <tr>
        <td><img
          src="https://filebroker-cdn.lazada.vn/kf/S5d7f6bcf81f94b6f87777a41110429a9e.jpg"
          height="100px" width="100%" alt=""/></td>
        <td>Đồ bảo hộ</td>
        <td>200.000VNĐ</td>
        <td>
          <label>
            <input type="number" name="update_quantity" min="1" value="1">
          </label>
        </td>
        <td>200.000VNĐ</td>
        <td><a href="#" class="delete-btn">Xóa</a></td>
      </tr>
      <tr class="table-bottom">
        <td><a href="#" class="option-btn">Cửa hàng</a></td>
        <td colspan="3">Tổng hóa đơn</td>
        <td>300.000VNĐ</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle option-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" >
              Thanh Toán
            </button>
            <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Thanh Toán Tiền Mặt</a></li>
              <li><a class="dropdown-item" href="#">Thanh Toán PAYPAL</a></li>
              <li><a class="dropdown-item" href="#">Thanh Toán VNPAY</a></li>
              <li><a class="dropdown-item" href="#">Thanh Toán ZALOPAY</a></li>
              <li><a class="dropdown-item" href="#">Thanh Toán MOMO</a></li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
