@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto+Condensed:wght@300&display=swap');

.title-page {
  font-family: 'Roboto Condensed', sans-serif;
  /*font-family: IMPACT;*/
  font-size: 45px;
  font-weight: bolder;
  color: royalblue;
  padding-top: 0;
}

.form-personal {
  background-image: url('src/assets/images/pngtree-medical-security-technology-sense-blue-banner-image_261139.jpg');
  background-size: cover;
  width: 100%;
}

body {
  background-color: #7adfff;
}

span {
  color: red;
}

.error{
  color: #ff3e21;
}
