
<!--<p>footer works!</p>-->

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="icon" href="image/symble.jpg" type="image/png">
  <title>Royal Hotel</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- main css -->
  <link rel="stylesheet" href="footer.component.css">

</head>

<section class="latest_blog_area section_gap container">
  <div class="container">
    <div class="row mb_30">
      <div class="col-lg-4 col-md-6">
        <div class="single-recent-blog-post">
          <div class="thumb">
            <img class="img-fluid" src="../../../assets/images/anh_slide_1.jpg" width="500px" height="200px" alt="post">
          </div>
          <div class="details">
            <div class="tags">
              <a href="#" class="button_hover tag_btn">Thiết Bị</a>
              <a href="#" class="button_hover tag_btn">Thông Tin Sản Phẩm</a>
            </div>
            <a href="#"><h4 class="sec_h4">Máy Tạo Oxy Gia Đình VERON</h4></a>
            <p>Máy tạo Oxy VERON  được thiết kế nhỏ gọn dễ sử dụng vì vậy khá quen thuộc với các gia đình, bệnh viện, phòng khám hỗ trợ trị liệu, phục hồi tinh thần, thể chất, sinh lý.</p>

            <h6 class="date title_color">31/01/2018</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-recent-blog-post">
          <div class="thumb">
            <img class="img-fluid" src="../../../assets/images/anh_slide_2.jpg" width="500px" height="200px" alt="post">
          </div>
          <div class="details">
            <div class="tags">
              <a href="#" class="button_hover tag_btn">Thiết Bị</a>
              <a href="#" class="button_hover tag_btn">Thông Tin Sản Phẩm</a>
            </div>
            <a href="#"><h4 class="sec_h4">Máy Tạo Oxy DEDAK J</h4></a>
            <p>Máy Tạo Oxy DEDAK J  được thiết kế nhỏ gọn dễ sử dụng vì vậy khá quen thuộc với các gia đình, bệnh viện, phòng khám hỗ trợ trị liệu, phục hồi tinh thần, thể chất, sinh lý.</p>
            <h6 class="date title_color">31/01/2018</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-recent-blog-post">
          <div class="thumb">
            <img class="img-fluid" src="../../../assets/images/anh_slide_1.jpg" width="500px" height="200px" alt="post">
          </div>
          <div class="details">
            <div class="tags">
              <a href="#" class="button_hover tag_btn">Thiết Bị</a>
              <a href="#" class="button_hover tag_btn">Thông Tin Sản Phẩm</a>
            </div>
            <a href="#"><h4 class="sec_h4">Máy Tạo Oxy Gia Đình VERON</h4></a>
            <p>Máy tạo Oxy VERON  được thiết kế nhỏ gọn dễ sử dụng vì vậy khá quen thuộc với các gia đình, bệnh viện, phòng khám hỗ trợ trị liệu, phục hồi tinh thần, thể chất, sinh lý.</p>

            <h6 class="date title_color">31/01/2018</h6>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>

<footer class="footer-area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4  col-md-6 col-sm-6">
        <div class="">
          <h6 class="footer_title">Công ty TNHH TBYT Code Gym</h6>
          <p class="footer_title1">Chúng tôi tin tưởng rằng, với năng lực, sự năng động, sáng tạo, trách nhiệm cao của đội ngũ cán bộ ở đây. Công ty sẽ luôn đáp ứng được các hợp
            đồng thương mại trong nước và xuất khẩu ra thị trường thế giới, đáp ứng các hợp đồng dịch vụ kỹ thuật y tế đối khách hàng (cơ sở y tế công lập và tư nhân, trong nước và nước ngoài).. </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div >
          <h6 class="footer_title">Liên hệ</h6>
          <p class="footer_title1">
            Trụ sở tâng 3, Tòa nhà Đức Ân số 1, Đường Trâng Hưng Học Thành phố Vinh, Nghệ An
          </p>

          <p class="footer_title1">
            Trụ sở tâng 2, Tòa nhà Đức Ân số 2, Đường Trâng Hưng Học Thành phố Hải Phòng
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="">
          <h6 class="footer_title">Danh Mục Sản Phẩm</h6>
          <p class="footer_title1">
            Sản phẩm chăm sóc sức khỏe
          </p>

          <p class="footer_title1">
            Thiết bị bảo hộ y tế
          </p>

          <p class="footer_title1">
            Thiết bị y tế & vật tư tiêu hao
          </p>
        </div>
      </div>
    </div>
    <div class="border_line"></div>
    <div class="row footer-bottom d-flex justify-content-between align-items-center">
      <p class="col-lg-8 col-sm-12 footer-text m-0 footer_title1">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;| Bản Quyền Thuộc <i class="fa fa-heart-o"
                                             aria-hidden="true"></i>  <a
        href="https://colorlib.com" target="_blank">C0821G1</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
<!--      <div class="col-lg-4 col-sm-12 footer-social">-->
<!--        <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--        <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--        <a href="#"><i class="fa fa-dribbble"></i></a>-->
<!--        <a href="#"><i class="fa fa-behance"></i></a>-->
<!--      </div>-->
    </div>
  </div>
</footer>
