<section class="vh-100" >
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5 form-personal">

            <div class="row justify-content-center">

              <p class="title-page text-center mb-5 mx-1 mx-md-4">Đổi mật khẩu nhân viên</p>

              <div class="col-lg-8 order-2 order-lg-1">

                <form class="mx-1 mx-md-4">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw mt-lg-4"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label  fw-bold" for="currentPass">Mật khẩu cũ</label>
                      <span class="text-danger">(*)</span>
                      <input type="password" id="currentPass" class="form-control" placeholder="*********"/>
                      <span class="text-danger">Nhập sai mật khẩu.</span>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw mt-lg-4"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label fw-bold" for="newPass">Mật khẩu mới</label>
                      <span class="text-danger">(*)</span>
                      <input type="password" id="newPass" class="form-control" placeholder="*********"/>
                      <span class="text-danger">Nhập sai ký tự.</span>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw mt-lg-4"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label fw-bold" for="confirmPass">Nhập lại mật khẩu
                        mới</label>
                      <span class="text-danger">(*)</span>
                      <input type="password" id="confirmPass" class="form-control" placeholder="**********"/>
                      <span class="text-danger">Nhập sai mật khẩu.</span>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button"
                            class="btn btn-info text-white btn-outline-success ms-lg-3">
                      Đổi mật khẩu
                    </button>
                    <button type="button" class="btn btn-light btn-outline-success ms-lg-3">
                      Hủy bỏ
                    </button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
